<template>
  <div class="v-application">
    <v-btn
      :disabled="disabled"
      :depressed="depressed"
      :color="color"
      :dark="dark"
      @click="onClick"
    >
      <slot></slot>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: `vuetify-button`,
  props: {
    disabled: Boolean,
    depressed: Boolean,
    color: String,
    dark: Boolean,
  },
  methods: {
    onClick() {
      this.$emit("click");
    },
  },
};
</script>

<style lang="scss" scoped></style>
